{% extends "home/base.html" %}

{% load static %}
{% block content %}
<!-- start hero section -->
    <section class="section job-hero-section bg-light pb-0" id="hero">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-6">
                    <div>
                        <h1 class="display-6 fw-semibold text-capitalize mb-3 lh-base">Find your next job and build your dream here</h1>
                        <p class="lead text-muted lh-base mb-4">Are you an employer looking to hire the right talent or an individual looking for the right job?
                            Choose from below mentioned categories and get in touch with us accordingly.</p>
                        
                        <div class="row g-md-0 g-2 justify-content-evenly">
                            <div class="col-md-4">
                                <div>
                                    <a type="button" class="btn btn-primary waves-effect waves-light" href="./im_candidate.html">I'am a candidate</a>
                                </div>
                            </div>
                            <!--end col-->
                            <div class="col-md-4">
                                <a type="button" class="btn btn-primary waves-effect waves-light" href="./im_company.html">I'am a client</a>
                            </div>
                            <!--end col-->
                            <div class="col-md-4">
                                <a type="button" class="btn btn-primary waves-effect waves-light">FAQ's</a> 
                            </div>
                            <!--end col-->
                        </div>
                        <!--end row-->
                        
                    </div>
                </div>
                <!--end col-->
                <div class="col-lg-4">
                    <div class="position-relative home-img text-center mt-5 mt-lg-0">
                        
                        <img src="assets/images/job-profile2.png" alt="" class="user-img">

                        <div class="circle-effect">
                            <div class="circle"></div>
                            <div class="circle2"></div>
                            <div class="circle3"></div>
                            <div class="circle4"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
<!-- end hero section -->

<!-- Process section start  -->
    <section class="section" id="process">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="text-center mb-5">
                        <h1 class="mb-3 ff-secondary fw-semibold lh-base">How <span class="text-primary">it's work</span> creative jobs & quickly features</h1>
                        <p class="text-muted">A creative person has the ability to invent and develop original ideas, especially in the arts. Like so many creative people, he was never satisfied.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="card shadow-lg">
                        <div class="card-body p-4">
                            <h1 class="fw-bold display-5 ff-secondary mb-4 text-success position-relative">
                                <div class="job-icon-effect"></div>
                                <span>1</span>
                            </h1>
                            <h6 class="fs-17 mb-2">Register Account</h6>
                            <p class="text-muted mb-0 fs-15">First, You need to make a account.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card shadow-none">
                        <div class="card-body p-4">
                            <h1 class="fw-bold display-5 ff-secondary mb-4 text-success position-relative">
                                <div class="job-icon-effect"></div>
                                <span>2</span>
                            </h1>
                            <h6 class="fs-17 mb-2">Create Resume</h6>
                            <p class="text-muted mb-0 fs-15">Create a resume for your job.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card shadow-none">
                        <div class="card-body p-4">
                            <h1 class="fw-bold display-5 ff-secondary mb-4 text-success position-relative">
                                <div class="job-icon-effect"></div>
                                <span>3</span>
                            </h1>
                            <h6 class="fs-17 mb-2">Find Job</h6>
                            <p class="text-muted mb-0 fs-15">Search for your dream jobs from velzon.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card shadow-none">
                        <div class="card-body p-4">
                            <h1 class="fw-bold display-5 ff-secondary mb-4 text-success position-relative">
                                <div class="job-icon-effect"></div>
                                <span>4</span>
                            </h1>
                            <h6 class="fs-17 mb-2">Apply Job</h6>
                            <p class="text-muted mb-0 fs-15">Apply to the compnay and wait for interview.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- Process section Ends  -->

<!-- Chose a login type section starts  -->
    <section class="section bg-light" id="process">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="text-center mb-5">  
                        <h1 class="mb-3 ff-secondary fw-semibold lh-base">Join <span class="text-primary">Us</span> In Simple Steps</h1>
                    </div>
                </div>
            </div>
            <div class="row  justify-content-center  ">
            
                <div class="col-lg-4 col-md-6 m-2">
                    <div class="card card-overlay">
                        <img class="card-img img-fluid" src="{% static 'assets/images/small/img-1.jpg' %}" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title mb-2">Find jobs that you would love</h4>
                            <p class="card-text">Then you have landed at the right place! Find out everything about the Randstad application process and how you can get closer to your dream job, step by step.</p>
                            <div class="row content-justify-center text-end m-2">
                                <div class="col-xl-8">
                                    <a href="{% url 'candidate_signup' %}" class="btn btn-primary">Find New Roles</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 m-2">
                    <div class="card card-overlay">
                        <img class="card-img-top img-fluid" src="{% static 'assets/images/small/img-2.jpg' %}" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title mb-2">Find talented people for your business</h4>
                            <p class="card-text">Finding the right candidate for your business is a crucial decision that hinges on the way you search for, select and interview potential applicants.</p>
                            <div class="row content-justify-center text-end m-2">
                                <div class="col-xl-8 ">
                                    <a href="{% url 'company_signup' %}" class="btn btn-primary">Request Talents</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                
                
            </div>
        </div>
    </section>
<!-- Chose a login type section Ends  -->

<!-- start services -->
    <section class="section" id="categories">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="text-center mb-5">
                        <h1 class="mb-3 ff-secondary fw-semibold text-capitalize lh-base">Our Solutions  </h1>
                        <p class="text-muted">We solve everything humanly possible. Almost everything.</p>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->

            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-6">
                    <div class="card shadow-none text-center py-3">
                        <div class="card-body py-4">
                            <div class="avatar-sm position-relative mb-4 mx-auto">
                                <div class="job-icon-effect"></div>
                                <div class="avatar-title bg-transparent text-success rounded-circle">
                                    <i class="ri-pencil-ruler-2-line fs-1"></i>
                                </div>
                            </div>
                            <a href="#!" class="stretched-link">
                                <h5 class="fs-17 pt-1">Recruitment</h5>
                            </a>
                            <p class="mb-0 text-muted">1543 Jobs</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card shadow-none text-center py-3">
                        <div class="card-body py-4">
                            <div class="avatar-sm position-relative mb-4 mx-auto">
                                <div class="job-icon-effect"></div>
                                <div class="avatar-title bg-transparent text-success rounded-circle">
                                    <i class="ri-airplay-line fs-1"></i>
                                </div>
                            </div>
                            <a href="#!" class="stretched-link">
                                <h5 class="fs-17 pt-1">Staffing</h5>
                            </a>
                            <p class="mb-0 text-muted">3241 Jobs</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card shadow-none text-center py-3">
                        <div class="card-body py-4">
                            <div class="avatar-sm mb-4 mx-auto position-relative">
                                <div class="job-icon-effect"></div>
                                <div class="avatar-title bg-transparent text-success rounded-circle">
                                    <i class="ri-bank-line fs-1"></i>
                                </div>
                            </div>
                            <a href="#!" class="stretched-link">
                                <h5 class="fs-17 pt-1">Leadership Hiring</h5>
                            </a>
                            <p class="mb-0 text-muted">876 Jobs</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card shadow-none text-center py-3">
                        <div class="card-body py-4">
                            <div class="avatar-sm position-relative mb-4 mx-auto">
                                <div class="job-icon-effect"></div>
                                <div class="avatar-title bg-transparent text-success rounded-circle">
                                    <i class="ri-focus-2-line fs-1"></i>
                                </div>
                            </div>
                            <a href="#!" class="stretched-link">
                                <h5 class="fs-17 pt-1">IT Staffing</h5>
                            </a>
                            <p class="mb-0 text-muted">465 Jobs</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card shadow-none text-center py-3">
                        <div class="card-body py-4">
                            <div class="avatar-sm position-relative mb-4 mx-auto">
                                <div class="job-icon-effect"></div>
                                <div class="avatar-title bg-transparent text-success rounded-circle">
                                    <i class="ri-pencil-ruler-line fs-1"></i>
                                </div>
                            </div>
                            <a href="#!" class="stretched-link">
                                <h5 class="fs-17 pt-1">GIG Workforce</h5>
                            </a>
                            <p class="mb-0 text-muted">105 Jobs</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card shadow-none text-center py-3">
                        <div class="card-body py-4">
                            <div class="avatar-sm position-relative mb-4 mx-auto">
                                <div class="job-icon-effect"></div>
                                <div class="avatar-title bg-transparent text-success rounded-circle">
                                    <i class="ri-line-chart-line fs-1"></i>
                                </div>
                            </div>
                            <a href="#!" class="stretched-link">
                                <h5 class="fs-17 pt-1">Apprenticeship</h5>
                            </a>
                            <p class="mb-0 text-muted">377 Jobs</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card shadow-none text-center py-3">
                        <div class="card-body py-4">
                            <div class="avatar-sm position-relative mb-4 mx-auto">
                                <div class="job-icon-effect"></div>
                                <div class="avatar-title bg-transparent text-success rounded-circle">
                                    <i class="ri-briefcase-2-line fs-1"></i>
                                </div>
                            </div>
                            <a href="#!" class="stretched-link">
                                <h5 class="fs-17 pt-1">Catering & Tourism</h5>
                            </a>
                            <p class="mb-0 text-muted">85 Jobs</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
<!-- end services -->


{% endblock %}