{% extends "home/base.html" %}

{% load static %}
{% block content %}
<div class="row">

    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">User Management</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item active"><a href="/">Home</a></li>
                    <li class="breadcrumb-item " style="pointer-events: none;"><a href="#">User Management</a></li>
                    <li class="breadcrumb-item text-primary fw-semibold">Departments</li>
                </ol>
            </div>
        </div>
    </div>

<div class=" card card-body">

    <div class="row">
        <div class="col-sm">
            <div class="search-box pt-2">
              <input type="text" class="form-control search" id="searchInput" onkeyup="searchTable()" placeholder="Search for Departments" fdprocessedid="fxsqvg">
              <i class="ri-search-line search-icon pt-2"></i>
            </div>
        </div>
        <div class="col-sm d-flex justify-content-end">
            
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalgrid">
                    <i class="ri-add-circle-fill align-middle me-1"></i> Add Department
                </button>
            
        </div>
    </div>


    <div class="row mt-4">
        <div class="table-responsive ">
            
            <table class="table table-hover" id="myTable">
                <thead class="table-light text-text-muted">
                    <tr><th style="width: 70px;">Sl. No.</th>
                    <th>Name</th>
                    <th>Organization</th>
                    <th style="width: 70px;">POC 1</th>
                    <th style="width: 70px;">POC 2</th>
                    <th>Description</th>
                    <th class="text-center">Status</th>
                    
                    <th class="text-center">Action</th>
                    

                </tr></thead>
                <tbody>
                    
                    <tr>
                        <td>1</td>
                        <td>Department 1</td>
                        <td>Organization ABC</td>
                        <td>poc teat 1</td>
                        <td>poc test 2</td>
                        <td class=" text-break">Aircraft types are categories of aircraft that have different characteristics and functions12.Some common types of aircraft are12: Airplanes: fixed-wing aircraft that are propelled by engines or propellers. Helicopters: rotorcraft that use rotating blades to generate lift and thrust. Airships: lighter-than-air aircraft that are filled with gas and can be steered by propellers or rudders. Gliders: aircraft that fly without an engine and rely on air currents for lift. Paramotors: powered paragliders that use a motor and a propeller to provide thrust. Hot air balloons: lighter-than-air aircraft that are heated by a burner and can be controlled by changing the altitude.
</td>
                        <td class="text-center">
                            
                            <span class="badge rounded-pill badge-soft-success" style="width:100px;font-size: 12px;">Active</span>
                            
                        </td>
                        <td style="width: 100px;">
                            <span>
                            
                                <a href="#editdeptModal108" class="btn btn-light btn-sm" id="editBtn" data-bs-toggle="modal" data-bs-target="" style="margin-left: 15px;">
                                    <i class="ri-pencil-fill align-bottom me-1"></i>
                                </a> 
                            

                            
                            
                                <a class="text-danger d-inline-block remove-item-btn" data-bs-toggle="modal" href="#deleteOrder108">
                                    <i class="ri-delete-bin-5-fill fs-16"></i>
                                </a>
                            
                          </span>
                        </td>
                        
                    </tr>
                    
                    <tr>
                        <td>2</td>
                        <td>Department 2</td>
                        <td>Organization PQR</td>
                        <td>poc teat 1</td>
                        <td>poc test 2</td>
                        <td class=" text-break">Aircraft types are categories of aircraft that have different characteristics and functions12.Some common types of aircraft are12: Airplanes: fixed-wing aircraft that are propelled by engines or propellers. Helicopters: rotorcraft that use rotating blades to generate lift and thrust. Airships: lighter-than-air aircraft that are filled with gas and can be steered by propellers or rudders. Gliders: aircraft that fly without an engine and rely on air currents for lift. Paramotors: powered paragliders that use a motor and a propeller to provide thrust. Hot air balloons: lighter-than-air aircraft that are heated by a burner and can be controlled by changing the altitude.</td>
                        <td class="text-center">
                            
                            <span class="badge rounded-pill badge-soft-success" style="width:100px;font-size: 12px;">Active</span>
                            
                        </td>
                        <td style="width: 100px;">
                            <span>
                            
                                <a href="#editdeptModal109" class="btn btn-light btn-sm" id="editBtn" data-bs-toggle="modal" data-bs-target="" style="margin-left: 15px;">
                                    <i class="ri-pencil-fill align-bottom me-1"></i>
                                </a> 
                            

                            
                            
                                <a class="text-danger d-inline-block remove-item-btn" data-bs-toggle="modal" href="#deleteOrder109">
                                    <i class="ri-delete-bin-5-fill fs-16"></i>
                                </a>
                            
                          </span>
                        </td>
                        
                    </tr>
                    
                    <tr>
                        <td>3</td>
                        <td>Department 3</td>
                        <td>Organization XYZ</td>
                        <td>poc teat 1</td>
                        <td>poc test 2</td>
                        <td class=" text-break">Aircraft types are categories of aircraft that have different characteristics and functions12.Some common types of aircraft are12: Airplanes: fixed-wing aircraft that are propelled by engines or propellers. Helicopters: rotorcraft that use rotating blades to generate lift and thrust. Airships: lighter-than-air aircraft that are filled with gas and can be steered by propellers or rudders. Gliders: aircraft that fly without an engine and rely on air currents for lift. Paramotors: powered paragliders that use a motor and a propeller to provide thrust. Hot air balloons: lighter-than-air aircraft that are heated by a burner and can be controlled by changing the altitude.</td>
                        <td class="text-center">
                            
                            <span class="badge rounded-pill badge-soft-success" style="width:100px;font-size: 12px;">Active</span>
                            
                        </td>
                        <td style="width: 100px;">
                            <span>
                            
                                <a href="#editdeptModal110" class="btn btn-light btn-sm" id="editBtn" data-bs-toggle="modal" data-bs-target="" style="margin-left: 15px;">
                                    <i class="ri-pencil-fill align-bottom me-1"></i>
                                </a> 
                            

                            
                            
                                <a class="text-danger d-inline-block remove-item-btn" data-bs-toggle="modal" href="#deleteOrder110">
                                    <i class="ri-delete-bin-5-fill fs-16"></i>
                                </a>
                            
                          </span>
                        </td>
                        
                    </tr>
                    
                    <tr>
                        <td>4</td>
                        <td>dept1</td>
                        <td>Organization ABC</td>
                        <td>poc teat 1</td>
                        <td>poc test 2</td>
                        <td class=" text-break">asdf sdafsdafas</td>
                        <td class="text-center">
                            
                            <span class="badge rounded-pill badge-soft-success" style="width:100px;font-size: 12px;">Active</span>
                            
                        </td>
                        <td style="width: 100px;">
                            <span>
                            
                                <a href="#editdeptModal137" class="btn btn-light btn-sm" id="editBtn" data-bs-toggle="modal" data-bs-target="" style="margin-left: 15px;">
                                    <i class="ri-pencil-fill align-bottom me-1"></i>
                                </a> 
                            

                            
                            
                                <a class="text-danger d-inline-block remove-item-btn" data-bs-toggle="modal" href="#deleteOrder137">
                                    <i class="ri-delete-bin-5-fill fs-16"></i>
                                </a>
                            
                          </span>
                        </td>
                        
                    </tr>
                    
                </tbody>
            </table>
            
        </div>
    </div>
</div>
</div>
{% endblock %}