{% extends "home/base.html" %}

{% load static %}
{% block content %}
    <section class="section job-hero-section bg-light pb-0" id="hero">
        <div class="container">
            
            <div class="card bg-light">
                <div class="card-body">
                    <div class="row mt-4">
                        <div class="col-xl-3">
                            
                            <div class="card">
                                <div class="card-body ">
                                    <h5 class="card-title mb-1">All filters</h5>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title mb-3">Work Mode</h5>
                                    <div class="list-group">
                                        <label class="list-group-item">
                                            <input class="form-check-input me-1" type="checkbox" value="">
                                            Work from office
                                        </label>
                                        <label class="list-group-item">
                                            <input class="form-check-input me-1" type="checkbox" value="">
                                            Remote
                                        </label>
                                        <label class="list-group-item">
                                            <input class="form-check-input me-1" type="checkbox" value="">
                                            Hybrid
                                        </label>
                                        <label class="list-group-item">
                                            <input class="form-check-input me-1" type="checkbox" value="">
                                            Temp. WFH due to...
                                        </label>
                                        
                                    </div>
                                </div><!-- end card body -->
                            </div><!-- end card -->

                            

                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title mb-3">Industry</h5>
                                    <div class="list-group">
                                        <label class="list-group-item">
                                            <input class="form-check-input me-1" type="checkbox" value="">
                                            Aviation
                                        </label>
                                        <label class="list-group-item">
                                            <input class="form-check-input me-1" type="checkbox" value="">
                                            Auto Components
                                        </label>
                                        <label class="list-group-item">
                                            <input class="form-check-input me-1" type="checkbox" value="">
                                            Automobiles
                                        </label>
                                        <label class="list-group-item">
                                            <input class="form-check-input me-1" type="checkbox" value="">
                                            IT Services & Cons
                                        </label>
                                        
                                    </div>
                                </div><!-- end card body -->
                            </div><!-- end card -->

                        
                            <div class="card ">
                                <div class="card-body">
                                    <h5 class="card-title mb-4">Skills</h5>
                                    <div class="d-flex flex-wrap gap-2 fs-15">
                                        <a href="javascript:void(0);" class="badge badge-soft-primary">Photoshop</a>
                                        <a href="javascript:void(0);" class="badge badge-soft-primary">illustrator</a>
                                        <a href="javascript:void(0);" class="badge badge-soft-primary">HTML</a>
                                        <a href="javascript:void(0);" class="badge badge-soft-primary">CSS</a>
                                        <a href="javascript:void(0);" class="badge badge-soft-primary">Javascript</a>
                                        <a href="javascript:void(0);" class="badge badge-soft-primary">Php</a>
                                        <a href="javascript:void(0);" class="badge badge-soft-primary">Python</a>
                                    </div>
                                </div>
                            </div><!-- end card -->

                        

                            <!--end card-->
                        </div>
                        <!--end col-->
                        <div class="col-xxl-9">
                            <div class="row g-5">
                                <div class="col-sm-8">
                                    <div class="search-box">
                                        <input type="text" class="form-control" id="searchMemberList" placeholder="Search for job or designation...">
                                        <i class="ri-search-line search-icon"></i>
                                    </div>
                                </div>
                                <!--end col-->
                                <div class="col-sm-4 ms-auto">
                                    
                                    <button class="btn btn-success" data-bs-toggle="modal" >Search</button>
                                    
                                </div>
                                <!--end col-->
                            </div>
                            <!--end row-->


                            <div class="card mt-4">
                                <div class="card-body">
                                    <h5 class="card-title mb-3">Senior Software Engineer - AI & Search Platform</h5>
                                    <p>This role is a challenging opportunity for a passionate individual to drive offer excellence across transactional business throughout product life cycle.

                                        As Offer Marketing Leader, one will lead a team of offer managers to establish the compelling vision and roadmap for existing , new offers and unique value proposition.</p>
                                    <div class="row">
                                        <div class="col-6 col-md-4">
                                            <div class="d-flex mt-4">
                                                <div class="flex-shrink-0 avatar-xs align-self-center me-3">
                                                    <div class="avatar-title bg-light rounded-circle fs-16 text-primary">
                                                        <i class="ri-user-2-fill"></i>
                                                    </div>
                                                </div>
                                                <div class="flex-grow-1 overflow-hidden">
                                                    <p class="mb-1">Designation :</p>
                                                    <h6 class="text-truncate mb-0">Lead Designer / Developer</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <!--end col-->
                                        <div class="col-6 col-md-4">
                                            <div class="d-flex mt-4">
                                                <div class="flex-shrink-0 avatar-xs align-self-center me-3">
                                                    <div class="avatar-title bg-light rounded-circle fs-16 text-primary">
                                                        <i class="ri-global-line"></i>
                                                    </div>
                                                </div>
                                                <div class="flex-grow-1 overflow-hidden">
                                                    <p class="mb-1">Website :</p>
                                                    <a href="#" class="fw-semibold">www.velzon.com</a>
                                                </div>
                                            </div>
                                        </div>
                                        <!--end col-->

                                        <div class="col-6 col-md-4">
                                            <div class="d-flex mt-4">
                                                <button type="button" class="btn rounded-pill btn-info waves-effect waves-light">Apply Now</button>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end row-->
                                </div>
                                <!--end card-body-->

                                
                            </div><!-- end card -->

                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title mb-3">System Architect</h5>
                                    <p>BE in CS / CSE or related technical area from premier institutes such as IIT,NIT and BITS
                                        Must be team-oriented,possess a positive attitude and work well with others</p>
                                    <div class="row">
                                        <div class="col-6 col-md-4">
                                            <div class="d-flex mt-4">
                                                <div class="flex-shrink-0 avatar-xs align-self-center me-3">
                                                    <div class="avatar-title bg-light rounded-circle fs-16 text-primary">
                                                        <i class="ri-user-2-fill"></i>
                                                    </div>
                                                </div>
                                                <div class="flex-grow-1 overflow-hidden">
                                                    <p class="mb-1">Designation :</p>
                                                    <h6 class="text-truncate mb-0">Lead Designer / Developer</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <!--end col-->
                                        <div class="col-6 col-md-4">
                                            <div class="d-flex mt-4">
                                                <div class="flex-shrink-0 avatar-xs align-self-center me-3">
                                                    <div class="avatar-title bg-light rounded-circle fs-16 text-primary">
                                                        <i class="ri-global-line"></i>
                                                    </div>
                                                </div>
                                                <div class="flex-grow-1 overflow-hidden">
                                                    <p class="mb-1">Website :</p>
                                                    <a href="#" class="fw-semibold">www.velzon.com</a>
                                                </div>
                                            </div>
                                        </div>
                                        <!--end col-->

                                        <div class="col-6 col-md-4">
                                            <div class="d-flex mt-4">
                                                <button type="button" class="btn rounded-pill btn-info waves-effect waves-light">Apply Now</button>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end row-->
                                </div>
                                <!--end card-body-->

                                
                            </div><!-- end card -->


                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title mb-3">Search Engine Optimization</h5>
                                    <p>Knowledge of Google Analytics and Google Search Console tools.
                                        Experience working with technical SEO tools such as Screaming Frog, SEMRush, and Moz.
                                        Experience setting up, optimizing, and creating internal site search strategy.
                                        Bachelor s degree in Marketing,Business or another related field preferred.</p>
                                    <div class="row">
                                        <div class="col-6 col-md-4">
                                            <div class="d-flex mt-4">
                                                <div class="flex-shrink-0 avatar-xs align-self-center me-3">
                                                    <div class="avatar-title bg-light rounded-circle fs-16 text-primary">
                                                        <i class="ri-user-2-fill"></i>
                                                    </div>
                                                </div>
                                                <div class="flex-grow-1 overflow-hidden">
                                                    <p class="mb-1">Designation :</p>
                                                    <h6 class="text-truncate mb-0">Lead Designer / Developer</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <!--end col-->
                                        <div class="col-6 col-md-4">
                                            <div class="d-flex mt-4">
                                                <div class="flex-shrink-0 avatar-xs align-self-center me-3">
                                                    <div class="avatar-title bg-light rounded-circle fs-16 text-primary">
                                                        <i class="ri-global-line"></i>
                                                    </div>
                                                </div>
                                                <div class="flex-grow-1 overflow-hidden">
                                                    <p class="mb-1">Website :</p>
                                                    <a href="#" class="fw-semibold">www.velzon.com</a>
                                                </div>
                                            </div>
                                        </div>
                                        <!--end col-->

                                        <div class="col-6 col-md-4">
                                            <div class="d-flex mt-4">
                                                <button type="button" class="btn rounded-pill btn-info waves-effect waves-light">Apply Now</button>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end row-->
                                </div>
                                <!--end card-body-->

                                
                            </div><!-- end card -->

                            

                        
                        </div>
                        <!--end col-->
                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}